name: cd

# Controls when the action will run. 
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # This job builds the frontend
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 14.x ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version:  ${{ matrix.node-version }}
        
      - name: Install project dependencies
        run: yarn install
        
      - name: Build the project (resulting in a dist directory)
        run: yarn build
      
      - uses: actions/upload-artifact@v2
        with:
          name: dist-artifact
          path: dist/
          retention-days: 5
          if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn`
          
  # This job builds a docker image and push it to the Docker registry
  push_to_registry:
    name: Push Docker image to DockerHub
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Check Out Repo 
        uses: actions/checkout@v2
        
      - name: Get the dist-artefact (dist directory)
        uses: actions/download-artifact@v2
        with:
          name: dist-artifact

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: chbenardtest/action-bidonvilles:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
